<!-- Navigation Bar -->
<div class="nav">
  <a href="/">Home</a> |
  <a href="/">View Stylists</a> |
  <a href="#">Services</a>
</div>
<!-- Main Banner -->
<div class="mainBanner image-box">
  <img class="img-responsive" src="#">
  <div class="bannerText">
    <h1>Parlour Salon</h1>
    <a href="/stylists"><button type="submit" class="btn btn-default left">View Stylists</button></a>
  </div>
</div>
